<h1>
  {% if post-link %}
  <a href="{{post-link}}">
  {% endif %}
  {{title}}
  {% if post-link %}
  </a>
  {% endif %}
</h1>
{{body | safe}}

{% if discuss %}
<p>Discuss this post <a href="{{discuss}}">here</a>.</p>
{% endif %}
<p><i>Published: {{date}}</i></p>
{% if tags %}
<p>
  <i>
  Tagged:
  {% for tag in tags %}
  <span class="tag">
    <a href="tags/{{tag|escape-tag}}.html">{{tag}}</a>
  </span>
  {% endfor %}
  </i>
</p>
{% endif %}
<h1>Discuss this post</h1>
    <div id="disqus_thread"></div>
    <script>
	   var disqus_config = function () {
			       this.page.url = sharingUrl; 
			       this.page.identifier = "{{file}}";
	   };
	    (function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://tim-brown-github-pages.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
